<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NavigationBar</title>
</head>
<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-sm bg-primary navbar-dark">
	  <ul class="navbar-nav">
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/categories}">List Categories</a>
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/brands}">List Brands</a>
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/products}">List Products</a>
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/users}">List Users</a>
	    </li>
	    <li class="nav-item">
	    	<a class="nav-link" th:href="@{/cartItems}">List Cart Items</a>
	    </li>
	  </ul>
	</nav>
	<footer th:fragment="footer" class="bg-light text-center text-lg-start" style="position:absolute; bottom:0;width: 100%">
		<div class="container p-3">
			<span class="text-muted"><a class="text-dark" href="https://github.com/rasient/InventoryApp">Created by Alexander Berg</a></span>
		</div>
	</footer>
</body>
</html>